<ion-pane>
  <ion-content>
    <h3 class="padding text-center">You need to login to have access</h3>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">User</span>
        <input type="text" placeholder="Your username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Your password">
      </label>
      <button ui-sref="app" class="button button-full button-balanced">
        Sign in
      </button>
    </div>
  </ion-content>
</ion-pane>